* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}
